body {
    background: gray;
    
}
.img{
    width: 80%;
    height: auto;
}

.curiosityCard {
    width: 35rem;
    height: auto;
    text-align: center;
    border: blue solid 1px;
    padding: 1rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px red;
}

.spiritCard {
    width: 35rem;
    height: auto;
    text-align: center;
    border: blue solid 1px;
    padding: 1rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px red;
}