@font-face {
    font-family: 'Nasa';
    src: url('http://fonts.cdnfonts.com/css/nasa');
}

/* @import url('http://fonts.cdnfonts.com/css/nasa'); */
/* nasa font */

body {
    background: url(https://wallpaperaccess.com/full/465921.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    display: block;
    align-items: center;
    box-sizing: border-box;
    
    font-family: 'Nasa', sans-serif;
    font-size: 4rem;
    color:#fc3d21;
    text-align: center;
    
    background: #0b3d91;
    width: 100%;
    border: solid 15px;
    border-color: #ffffff;
    border-radius: 30px;
    
    box-shadow: 0 4px 8px 0 #ffffff;
    transition: 0.3s;
}

h1:hover {
    box-shadow: 0 8px 16px 0 #fc3d21;
}

.rover-class {
    display: table;
    box-sizing: border-box;
    align-items: center;

    width: 50%;
    height: auto;
    margin: 30px;
    padding: 5px;

    background: #ffffff;
    text-align: center;
    border: solid 15px;
    border-color: #0b3d91;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 #0b3d91;
    transition: 0.3s;
}

.rover-class:hover {
    box-shadow: 0 8px 16px 0 #fc3d21;
}

h2 {
    text-align: center;
    font-family: 'Nasa', sans-serif;
    font-size: 4em;
    color:#0b3d91;
    
    margin-bottom: 15px;
    margin-top: 30px;

}
.form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    padding-bottom: 10px;

    border-radius: 5%;
    font-size: 3rem;
}

.dateInput {
    font-family: 'Nasa', sans-serif;
    font-size: 1.25rem;
 }

.cameraSelection {
    font-family: 'Nasa', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
 }

.submitBTN{
    font-family: 'Helvetica';
    font-size: 1.25rem;
}

.img{
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
    border: solid #ac5118 5px;
    border-radius: 10px;
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    padding: 15px;
}

